/* 
     Colors:
background color: #031627;
primary color: #DAF3FF;
secondary color: #6b6bff;
links-color:#FFEDCB;
links active color: #00A481;
button-color: #007279;

 */

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #031627;
    --primary-color: #DAF3FF;
    --secondary-color:#6b6bff;
    --links-color:#FFEDCB;
    --links-active-color: #00A481;
    --button-color:#007279;
}

html{
    min-height: 100%;
}

body {
   background-color: var(--background-color);
   font-size: 1.5em;
   font-family: 'Scheherazade New', serif;
   line-height: 1.6;
   min-height: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
   width: 100vw;
   display: flex;
   flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 10px;
}

/* Navigation */

.nav {
    flex-grow: 1;
    text-align: right;
    margin-right: 3em;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header-item {
    flex: 0 1 48px;
}

.page-header-item:last-child {
	flex-grow: 1;
	text-align: right;
}

.nav-list li {
	display: inline-block;
	margin-left: 60px;
}

.nav-list li a {
    color: var(--links-color);
}

.profile {
    display: flex;
    max-width: 750px;
    margin: 10% auto;
    align-items: center;
}

.profile-portrait {
    float: left;
    margin-right: 5em;
}

.profile-portrait img {
    border-radius: 50px;
}

h1 {
    color:var(--primary-color);
    font-size: 2em;
}

h2 {
    color:var(--primary-color);
    font-size: 1.5em;
} 
 
p {
    color: var(--secondary-color);
    font-size: .9em;
}
 
a {
    text-decoration: none;
    color: var(--links-color);
}

a:visited{
     color:var(--links-color);
}
 
a:hover, 
a:focus {
    color:var(--primary-color);
}
 
a:active {
    color:var(--links-active-color);
}

.main {
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    align-items: center;
}

.btn{
    background-color:var(--button-color);
    border: none;
    color: var(--primary-color);
    padding: .8em;
    margin: 0.5em;
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.btn a{
    color: var(--secondary-color) ;
}

.btn:hover, 
.btn:focus {
    background-color:var(--primary-color) ;
    color: var(--button-color);
    opacity: 0.7;
    cursor: pointer;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
    color: var(--primary-color);
}

.contact {
    padding: 2em;
}

.contact h1 {
    text-align: center;
}

.form {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-item {
    border: none;
    border-bottom: 1px solid var(--links-color) ;
    background-color: inherit;
}

.submit {
    text-align: center;
}

.submit-btn {
    background-color:var(--button-color);
    border: none;
    border-radius: 5px;
    color:var(--primary-color) ;
    font-size: 0.7em;
    padding: 0.8em;
}

.submit-btn:hover,
.submit-btn:focus {
    transform: scale(1.1);
}

.signature {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.signature a {
    color: var(--primary-color) ;
}

.page-footer {
    clear: both;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.page-footer p {
    color:var(--primary-color);
}

.page-footer img {
    max-width: 48px;
    max-height: 48px;
}

.grid_item {
    display: inline-block;
    width: 50%;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 3rem;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 10%;
    }
    
    .grid-item {
        padding: 1em;
    }
}

@media all and (max-width: 500px) {

    .nav-list li {
        margin-left: 0.3em;
        margin-top: 0.3em;
    }

    .page-header {
        font-size: 0.9em;
    }
   
    .page-header-item {
        width: 48px;
        height: 48px;
    }

    .main {
        text-align: center;
        padding: 1em;
    }

    .table {
        font-size: 0.8em;
    }

    p {
        font-size: 0.8em;
    }

    .profile {
        display: block;
    }
    
    .profile-portrait {
        display: flex;
        justify-content: center;
        padding: 2em;
        width: 100%;
    }

    .welcome-text {
        text-align: center;
    }
  
   .grid {
     grid-template-columns: 1fr;
     margin-left: 2em;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid-item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 1em;
    }

    .page-header{
        padding: 0.2em;
    }

}

@media all and (min-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.illustration {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}
  
.sun {
    animation: 4s color-change infinite alternate linear;
}
  
@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
}
  
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}
  
@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
}
  
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}
  



